<!--Index.ejs-->
<!DOCTYPE html>

<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Perguntas e Respostas</title>
  </head>
  <body>
    <!-- Exibir valor de uma variavel EJS-->
    <%= nome %> <%= lang %> <%= empresa %> <%= salario %>

    <p>Nome:<%= nome %></p>
    <p>Linguagem de programação favorita: <%= lang %></p>
    <p>Empresa em que mais se destaca: <%= empresa %></p>
    <p>Salario: <%= salario %></p>


    <h1>Lista do Mercado</h1>

    <% listadeProdutos.forEach(function(produto){%>
        <h4><%= produto.nome %></h4>
        <h5><%= produto.preco %></h5>
        <hr>
    <% }) %>

    <img src="/img/imgTeste.jpeg" alt="imagem de teste">
  </body>
</html>
